* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 1248px;
	height: 873px;
	margin: 20px auto;
}

/* navbar styles */
.container {
	margin: 0 100px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-items {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 20px;
}

/* banner styles */
.banner-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	margin: 15px 0;
}

.banner-title {
	max-width: 430px;
	font-size: 48px;
	font: bold;
	text-transform: capitalize;
}

.banner-para {
	font-size: 18px;
	color: gray;
	text-transform: capitalize;
	margin: 30px 0;
}

.banner-btn {
	padding: 10px 25px;
	background-color: #8eadd5;
	border: none;
	border-radius: 6px;
	text-transform: uppercase;
	font: medium;
	color: white;
}

.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.company-container {
	max-width: 80%;
	background: #f6f6f6;
	padding: 20px 15px;
	margin: 0 auto;
	border-radius: 5px;
}

.company {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 468px) {
	.container {
		padding: 0 10px; /* Adjusted padding for smaller screens */
	}

	.navbar {
		flex-direction: column; /* Stack navbar items vertically */
		text-align: center;
	}

	.list-items {
		flex-direction: column; /* Stack list items vertically */
	}

	.banner-container {
		grid-template-columns: 1fr; /* Adjusted grid for single column layout */
	}

	.banner-desc {
		text-align: center;
	}

	.banner-title {
		max-width: 100%;
		font-size: 24px;
	}

	.company {
		display: none;
	}
}
